.body {
    font-family: Arial;
}

.grid {
    display: grid;
    grid-template-columns: 275px 275px;
    grid-template-rows: 225px 225px;
    grid-template-areas: "powerlaw composition"
                         "energy scatmodel";
    gap: 10px;
}

.item {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5%;
}


.powerlaw {
    grid-area: powerlaw;
}

.composition {
    grid-area: composition;
}

.energy {
    grid-area: energy;
}

.scatmodel {
    grid-area: scatmodel;
}